@media (max-width: 870px) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 870px) {
    html {
        font-size: 16px;
        max-width: 1600px;
        margin-inline: auto;
    }
}

/* Nav bar */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: var(--color-yellow-background);
}

header img {
    width: 100px;
    height: 100px;

    padding: 10px;
    margin: 0;
}

header .Menu {
    width: 70px;
    height: 60px;

    padding: 10px;
}

header .MenuBar {

    width: 100%;
    height: 12px;
    background: var(--color-orange-forground);
    border-radius: 6px;
    flex-direction: column;
    justify-content: space-between;

    transition: 200ms ease;
}

header #Bar1.open {

    transform: translate(0, 24px) rotate(315deg);
}

header #Bar2.open {

    opacity: 0%;
}

header #Bar3.open {

    transform: translate(0, -24px) rotate(225deg);
}

header .MenuBar.open {

    background: var(--color-yellow-forground);
}

@media (max-width: 870px)
{
    .Menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: auto;
        margin-right: 10px;
    }

    #MenuItems {
        display: none;
    }

    nav {
        flex: 0 0 100%; 
    }
}

@media (min-width: 870px) {

    .Menu {
        display: none;
    }

    /* Nav list */
    nav {
        flex: 1;
    }

    nav ol {
        display: flex;
        justify-content: flex-end;

        margin: 0 0 0 auto;
    }
}

/* Nav item */
nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 1rem;
    padding: 0.2rem;
}

nav li.selected {
    
    background-color: hsl(35, 90%, 80%);
    border-radius: 0.4rem;

    overflow: hidden;
}

/* Link text */
nav a {
    color: var(--color-green-forground);
    
    font-size: 2rem;
    text-decoration: none;

    /* Animation display */
    position: relative;
    display: inline-block;
}

nav a::after {
    background: var(--color-orange-forground);

    content: "";
    width: 100%;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: -4px;

    /* Animation */
    transition: transform 300ms ease;
    transform-origin: center;
    transform: scaleX(0);
}

nav a:hover::after {
    /* Animation */
    transition: transform 100ms ease;
    transform: scaleX(1);
}


main {
    margin: 0;
    padding: 0;
}

footer {
    color: var(--color-green-background);
    background-color: var(--color-green-forground);

    border-top-width: 1rem;
    border-top-style: solid;
    border-color: var(--color-orange-forground);

    text-align: center;
    padding: 1rem;

    font-size: 0.9rem;
}

footer .text {
    text-align: center;
    padding: 0 0 1rem 0;
}

footer p {
    margin: 0.2rem;
}