
<div class="text">
    <p>Dette nettstedet er laget uten bruk av generativ kunstig intelligens.</p>
    <p>Vi setter menneskelig kontakt først og fremst.</p>
</div>
<p>&copy; {{ buildYear }} | 365omsorg AS | Alle rettigheter forbeholdes.</p>