<img src="/assets/logo/logo.png" alt="logo">
<ol>
    {% for pagevar in collections.nav %}
        <li class="{% if pagevar.url == page.url %}selected{% endif %}">
            <a href="{{ pagevar.url }}">{{ pagevar.data.title }}</a>
        </li>
    {% endfor %}
</ol>